In [2]:
import re
import torch
import numpy as np
import pandas as pd
from glob import glob
from transformers import *
from sklearn.model_selection import train_test_split
from itertools import zip_longest

In [3]:
pd.options.display.max_rows = 999

## BERT tokenizer loading

In [4]:
pretrained_weights = 'bert-base-uncased'
tokenizer = BertTokenizer.from_pretrained(pretrained_weights)

In [5]:
max_len = tokenizer.max_len
print(max_len)

512

/home/long8v/anaconda3/envs/hugging_face/lib/python3.6/site-packages/transformers/tokenization_utils_base.py:1321: FutureWarning: The `max_len` attribute has been deprecated and will be removed in a future version, use `model_max_length` instead.
  FutureWarning,

In [7]:
tokenizer.tokenize('float')
tokenizer.tokenize('total')
tokenizer.tokenize('gst')
tokenizer.tokenize('round')
tokenizer.tokenize('10%') 
tokenizer.tokenize('9.24')
tokenizer.tokenize('273500') 
tokenizer.tokenize('currency')
tokenizer.tokenize('row')
tokenizer.tokenize('date')

['date']

## data loading

In [8]:
data_dict = torch.load('/home/long8v/ICDAR-2019-SROIE/task3/data/data_dict4.pth')
zipped_data = list(zip(*data_dict.values()))
texts = zipped_data[0]
labels = zipped_data[1]

In [10]:
(texts[0], labels[0])

('TAN WOON YANN\nBOOK TA .K(TAMAN DAYA) SDN BND\n789417-W\nNO.53 55,57 & 59, JALAN SAGU 18,\nTAMAN DAYA,\n81100 JOHOR BAHRU,\nJOHOR.\nDOCUMENT NO : TD01167104\nDATE:\t25/12/2018 8:13:39 PM\nCASHIER:\tMANIS\nMEMBER:\nCASH BILL\nCODE/DESC\tPRICE\tDISC\tAMOUNT\nQTY\tRM\tRM\n9556939040116\tKF MODELLING CLAY KIDDY FISH\n1 PC\t*\t9.000\t0.00\t9.00\nTOTAL:\t9.00\nROUNDING ADJUSTMENT:\t0.00\nROUNDED TOTAL (RM):\t9.00\nCASH\t10.00\nCHANGE\t1.00\nGOODS SOLD ARE NOT RETURNABLE OR\nEXCHANGEABLE\n***\n***\nTHANK YOU\nPLEASE COME AGAIN !',
 array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4,
        4, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       dtype=int32))

## replace special token

In [17]:
re_int = re.compile('\d+')
re_float = re.compile('(\d+\.\d+)')
re_percent = re.compile('(\d+.?\d+%)')
re_date = re.compile('(\d{2}[/-]\d{2}[/-]\d{2,4})')
re_row = re.compile('\n')

In [19]:
re_date.findall('20-02-2020')

['20-02-2020']

In [20]:
re_dict = {re_float:'float', re_percent:'percent', re_date:'date', re_int:'int', re_row:' row '}

In [21]:
corpus = ' '.join(texts)
for _ in re_dict.values():
    print('{} : {}'.format(_, sum([_ in corpus])))

float : 0
percent : 0
date : 0
int : 0
 row  : 0

In [22]:
re_int.search(texts[1]).group()

'27'

In [23]:
for text, label in zip(texts, labels):
    if len(text)!=len(label):
        print(len(text), len(label))

In [37]:
def replace_digits(text):
    for key, value in re_dict.items():
        text = key.sub(value, text)
    return text

In [24]:
def replace_special_token(text, label):
    text_copy = text
    label = list(label)
    label_copy = label[:]
    for re_exp, special_token in re_dict.items():
        while re_exp.search(text):
            match = re_exp.search(text)
            span_start, span_end = match.span()
            word = match.group()
            len_diff = len(special_token) - len(word)
            if len_diff > 0:
                while len_diff:
                    len_diff -= 1
                    try:
                        label_copy.insert(span_start, label_copy[span_start])
                    except:
                        print(len(label), span_start)
            elif len_diff < 0: 
                del label_copy[span_start:span_start-len_diff]
            else:
                pass
            text = list(text)
            del text[span_start:span_end]
            text.insert(span_start, special_token)
            text = ''.join(text)
    assert len(text) == len(label_copy)
    return text, label_copy

In [25]:
replace_list = dict([replace_special_token(text, label) for text, label in zip(texts, labels)])

In [26]:
texts = list(replace_list.keys())
labels = list(replace_list.values())

## bio-tagging for bert tokenizer

In [27]:
def get_tokenized_word(text):
    token_word = tokenizer.tokenize(text)
    return token_word

In [28]:
def get_token_labels(token_word, text, label):
    index = 0
    token_labels = []
    label_clean = [lbl for txt, lbl in list(zip(text, label)) if txt.strip()]
    for token in token_word[:max_len]:
        token_clean = token.replace('##', '')
        token_labels.append(label_clean[index:index+len(token_clean)])
        index += len(token_clean)
    return token_labels

In [29]:
def get_bio_tag(token_labels):
    label_dict = {0: 'O', 1: 'COMPANY', 2:'DATE', 3:'ADDRESS', 4:'TOTAL'}
    token_label_bio = []
    current = 0 
    for token_label in token_labels:
        try:
            temp_label = token_label[0]
        except IndexError as e:
            pass
        if temp_label == 0:
            token_label_bio.append(label_dict[temp_label])
        elif temp_label != current:
            token_label_bio.append('B-{}'.format(label_dict[temp_label]))
        else:
            token_label_bio.append('I-{}'.format(label_dict[temp_label]))
        current = temp_label
    return token_label_bio

In [30]:
def get_paired_token(text, label):
    token_word = get_tokenized_word(text)
    token_labels = get_token_labels(token_word, text, label)
    token_label_bio = get_bio_tag(token_labels)
    return pd.DataFrame(zip(token_word, token_label_bio))

In [38]:
def get_paired_token_text_label(texts, labels):
    df_list = []
    for text, label in zip(texts, labels):
        df = pd.DataFrame()
        df = df.append({0:'-DOCSTART-', 1: 'O'}, ignore_index=True)
        df = df.append(get_paired_token(text, label))
        df = df.append({0:'', 1:'O'}, ignore_index=True)
        df[0] = df[0].apply(lambda e: replace_digits(e))
        df_list.append(df)
    return df_list

In [39]:
train_text, test_text,  train_label, test_label = train_test_split(texts, labels)

In [40]:
train_text, val_text,  train_label, val_label = train_test_split(train_text, train_label)

In [41]:
train_df = get_paired_token_text_label(train_text, train_label)
val_df = get_paired_token_text_label(val_text, val_label)
test_df = get_paired_token_text_label(test_text, test_label)

In [42]:
from functools import reduce

In [43]:
train_df_long = reduce(lambda a, b: pd.concat([a,b]), train_df)
val_df_long = reduce(lambda a, b: pd.concat([a,b]), val_df)
test_df_long = reduce(lambda a, b: pd.concat([a,b]), test_df)

In [48]:
train_df[0]

               0          1
0     -DOCSTART-          O
1        popular  B-COMPANY
2           book  I-COMPANY
3            row  I-COMPANY
4             co  I-COMPANY
5              .  I-COMPANY
6              (  I-COMPANY
7              m  I-COMPANY
8              )  I-COMPANY
9             sd  I-COMPANY
10           ##n  I-COMPANY
11             b  I-COMPANY
12          ##hd  I-COMPANY
13           row          O
14             (          O
15            co          O
16             .          O
17            no          O
18             .          O
19           int          O
20             -          O
21             w          O
22             )          O
23           row          O
24             (          O
25            gs          O
26           ##t          O
27           reg          O
28            no          O
29             .          O
30           int          O
31             )          O
32           row          O
33            no  B-ADDRESS
34           int  I-ADDRESS
35             ,  I-ADDRESS
36         jalan  I-ADDRESS
37           int  I-ADDRESS
38             /  I-ADDRESS
39           int  I-ADDRESS
40           ##b  I-ADDRESS
41             ,  I-ADDRESS
42           des  I-ADDRESS
43           ##a  I-ADDRESS
44           tun  I-ADDRESS
45            ra  I-ADDRESS
46         ##zak  I-ADDRESS
47           row  I-ADDRESS
48           int  I-ADDRESS
49         kuala  I-ADDRESS
50        lumpur  I-ADDRESS
51             ,  I-ADDRESS
52         malay  I-ADDRESS
53          ##si  I-ADDRESS
54             .  I-ADDRESS
55           row  I-ADDRESS
56            io          O
57           ##i          O
58          mall          O
59           row          O
60           tel          O
61             :          O
62           int          O
63             -          O
64           int          O
65             /          O
66           int          O
67           row          O
68          date     B-DATE
69           int          O
70             :          O
71           int          O
72          slip          O
73            no          O
74             .          O
75             :          O
76           int          O
77           row          O
78           wan          O
79           ##i          O
80         trans          O
81             :          O
82           int          O
83           row          O
84   description          O
85        amount          O
86           row          O
87      document          O
88            ho          O
89           ##l          O
90           ain          O
91           ##t          O
92           int          O
93           ##a          O
94             -          O
95            tr          O
96           ##a          O
97           row          O
98           int          O
99          ##pc          O
100            @          O
101        float          O
102        float    B-TOTAL
103          row          O
104        total          O
105           rm          O
106          inc          O
107          ##l          O
108            .          O
109           of          O
110           gs          O
111          ##t          O
112        float          O
113          row          O
114         cash          O
115            -          O
116        float          O
117          row          O
118       change          O
119        float          O
120          row          O
121         item          O
122        count          O
123          int          O
124          row          O
125           gs          O
126          ##t          O
127       summer          O
128          ##y          O
129       amount          O
130            (          O
131           rm          O
132            )          O
133          tax          O
134            (          O
135           rm          O
136            )          O
137          row          O
138            t          O
139            @          O
140          int          O
141            %          O
142        float          O
143        float          O
144          row          O
145        total          O
146      savings          O
147        float          O
148          row          O
149           be          O
150            a          O
151      popular          O
152         card          O
153       member          O
154          row          O
155          and          O
156        enjoy          O
157      special          O
158     discount          O
159          ##s          O
160          row          O
161        thank          O
162          you          O
163            .          O
164       please          O
165         come          O
166        again          O
167            .          O
168          row          O
169          www          O
170            .          O
171      popular          O
172            .          O
173          com          O
174            .          O
175           my          O
176          row          O
177          buy          O
178      chinese          O
179        books          O
180       online          O
181          row          O
182          www          O
183            .          O
184      popular          O
185         ##on          O
186       ##line          O
187            .          O
188          com          O
189            .          O
190           my          O
191                       O

In [44]:
train_df_long.to_csv('data/train.txt', sep=' ', index=False, header=False)
val_df_long.to_csv('data/valid.txt', sep=' ', index=False, header=False)
test_df_long.to_csv('data/test.txt', sep=' ', index=False, header=False)